@charset "UTF-8";
.user-cart-box{
	width: 1400px;
	padding: 100px 0 50px 0;
	margin: 0 auto;
	margin-top: 100px;
	background-color: palegoldenrod;
	box-sizing: border-box;
}
.user-cart-cartBox{
	width: 1200px;
	background-color: cornsilk;
	padding: 50px 0;
	margin-left: 100px;
}
.user-cart-goodsBox{
	width: 1000px;
	background-color: cyan;
	margin-left: 100px;
	margin-bottom: 30px;
	border-collapse: collapse;
	border-color: black;
}
.user-cart-goodsCheck, .user-cart-goodsCheckAll{
	cursor: pointer;
	margin-left: 19px;
}
.user-cart-goodsImgTitle{
	width: 10%;
}
.user-cart-goodsInfoTitle{
	width: 50%;
}
.user-cart-goodsPriceTitle{
	width: 20%;
}
.user-cart-goodsCountTitle{
	width: 15%;
}
.user-cart-goodsImg>img{
	margin: 5px;
	width: 90px;
	height: 90px;
}
.user-cart-goodsInfo{
	padding-left: 10px;
	font-size: 20px;
}
.user-cart-goodsPrice{
	text-align: right;
	font-size: 20px;
	padding-right: 10px;
}
.user-cart-goodsCount>input{
	font-size: 20px;
	width: 60px;
	margin-left: 45px;
	text-align: right;
}
.user-cart-goodsDelete{
	width: 100px;
	height: 40px;
	margin-left: 100px;  
	font-size: 15px;
	float: left;    
}
.user-cart-cartBox::after{
	clear: both;
	content: '';
	display: block;
}