<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.green.spring.dao.BoardDao">
  <select id="getBoardlist" resultType="kr.green.spring.vo.BoardVo">
    select * from board where isdel = "N" order by num desc limit #{cri.pageStart}, #{cri.perPageNum}
  </select>
  <select id="getBoard" resultType="kr.green.spring.vo.BoardVo">
    select * from board where num = #{num}
  </select>
  <update id="increaseViews">
    update board set views = views+1 where num = #{num}
  </update>
  <insert id="registerBoard">
  	insert into board(title, writer, content)
  	values(#{board.title}, #{board.writer}, #{board.content})
  </insert>
  <update id="updateBoard">
  	update board set title=#{board.title}, content = #{board.content} where num = #{board.num};
  </update>
  <update id="delBoard">
  	update board set isdel="Y", delDate=NOW() where num = #{num};
  </update>
    <select id="getTotalCount" resultType="int">
    select count(*) from board where isdel like "N"
  </select>
</mapper>